@import url(./fonts.css);


:root{
    --font-primary: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header start */



/* header end */



/* membership start */
.membership{
    max-height: 957px;
}
.member__title{
    font-weight: 700;
    font-size: 51px;
    line-height: 54px;
    color: #692340;
    font-family: 'Roboto';
    padding: 0 0 37px 0;
}
.member__text{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    font-family: 'Roboto';
    color: #692340;
    max-width: 678px;
    text-align: center;
}
.membership__texts{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 114px 0 147px 0;
}
.membership__images{
    display: flex;
    justify-content: space-around;
    margin: 0 0 136px 0;
}
.member__image{
    max-width: 258px;
    max-height: 368px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member__image-title{
    margin: 31px 0 20px 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    max-width: 138px;
    text-align: center;
    color: #692340;
}
.member__image-text{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #692340;
}
.membership__end{
    display: flex;
    justify-content: space-around;
}
.member__end-title{
    font-weight: 400;
    font-size: 112px;
    line-height: 150px;
    text-align: center;
    color: #692340;
    padding: 0 0 11px 0;
}
.member__end-little-title{
    font-weight: 400;
    font-size: 39px;
    line-height: 44px;
    text-align: center;
    color: #692340;
    padding: 0 0 18px 0;
}
.member__end-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #692340;
}
.member__end-text{
    max-width: 450px;
}


/* membership end */

/* guide start */




/* guide end */


/* info start */




/* info end */


/* slider start */




/* slider end */


/* already start */




/* already end */




/* community start */




/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */



